#User-Password {
    text-align: center;
    padding: 15px;
    background:darkcyan;
    float: top;
    margin: 0px;
}

#Header {
    padding: 0%;
    text-align: center;
    background: darkred;
    color: whitesmoke;
    width: 100%;
    height: 50px;
    margin: 0%
}

#buttonStart {
    border-radius: 10px;
    border-width: 0px;

}

#Start {
    text-align: center;
}

#UserName, #Password {
    border-radius: 20px;
    border-width: 0px;
}

body {
    padding: 0%;
    background: darkcyan;
    margin: 0px;
}

h3, h1 {
    font-family: fantasy;
    font-weight: lighter;
    color: whitesmoke;
}

h3 {
    font-size: 23px;
}